<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="header-navbar navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <a class="navbar-brand text-light" href="/">
            <img src="https://preview.colorlib.com/theme/watch/img/logo.png.webp" width="90%" height="90%"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-2 active">
                    <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" href="/products">Products</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" href="/about">About</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" href="/contact">Contact</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" href="/admin" >Admin</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search something..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 text-light" type="submit">Search</button>
            </form>
            <div class="right-content d-flex">
                <a class="cart-icon text-light mx-4" href="/cart">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>
                <div class="user-icon text-light mx-2">
                    <a class="text-light" href="/login"><i class="fa-solid fa-circle-user"></i></a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
