<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row pb-5 px-5 w-50 pt-5">
        <h1 class="product-section col-12">Work list</h1>
        <div class="list-group col-12">
            <a href="/categories/create" class="list-group-item list-group-item-action">Create new brand</a>
            <a href="/admin/manage/categories" class="list-group-item list-group-item-action">Brand list management</a>
            <a href="/admin/manage/products" class="list-group-item list-group-item-action">Products management</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        </div>
    </div>
</body>
</html>