<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="product-layout container pt-5">
        <div class="product-layout-conatiner row">
            <div class="product-filter-block col-xl-3">
                <h4 class="filter-block-heading mt-2">FILTER</h4>
                <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Price</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Brand</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Department</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Product Category</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Gender</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Color</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Brand color</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Brand Material</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Brand Type</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Brand Width</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Case Material</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Case Shape</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Case Size</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                    <a class="nav-link active" id="v-pills-price-tab" data-toggle="pill" href="#v-pills-price" role="tab"
                        aria-controls="v-pills-price" aria-selected="false">
                        <p>Features</p>
                        <i class="down-icon fas fa-chevron-down"></i>
                    </a>
                </div>
            </div>

            <div class="row products-list col-xl-9">
                <div class="products-list-heading col-xl-12">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-related-tab" data-toggle="pill" href="#pills-related" role="tab"
                                aria-controls="pills-related" aria-selected="true">Related</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-newest-tab" data-toggle="pill" href="#pills-newest" role="tab"
                                aria-controls="pills-newest" aria-selected="false">Newest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-selling-tab" data-toggle="pill" href="#pills-selling" role="tab"
                                aria-controls="pills-selling" aria-selected="false">Best Selling</a>
                        </li>
                    </ul>
                    {{!-- <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-related" role="tabpanel" aria-labelledby="pills-related-tab">...</div>
                        <div class="tab-pane fade" id="pills-newest" role="tabpanel" aria-labelledby="pills-newest-tab">...</div>
                        <div class="tab-pane fade" id="pills-selling" role="tabpanel" aria-labelledby="pills-selling-tab">...</div>
                    </div> --}}
                </div>
                {{#each products}}
                <div class="products-item col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                    <div class="products-image">
                        <img src="{{this.image}}" width="100%" />
                        <div class="like-icon"><i class="fa-regular fa-heart"></i></div>
                        <div class="add-to-cart-btn text-center">
                            <span><i class="fa-solid fa-bag-shopping pr-1"></i> Add to cart</span>
                        </div>
                    </div>
                    <div class="products-info text-center">
                        <h5 class="products-name">{{this.nameProduct}}</h5>
                        <h6 class="products-price">{{this.price}}</h6>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>
</html>